.baikal__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF; 
    margin: 32px 0 0;
    padding: 0;
    text-align: center;
    z-index: 2;
    width: 360px;
    position: relative;
}

@media screen and (max-width: 600px){
    .baikal__text {
        font-size: 14px;
        line-height: 1.14;
        width: calc(100% - 16px * 2);
    }
}


