.footer__links {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 780px) {
    .footer__links {
        gap: 32px;
        display: flex;
        flex-direction: column;
    }
}
