.russia__image {
    margin: 64px auto 0;
    border-style: none;
    
}

@media screen and (max-width:1024px){
    .russia__image {
      margin: 56px 0 0;
      
    }
  }

  @media screen and (max-width:768px){
    .russia__image {
        
        
    }
  }


  @media screen and (max-width:320px){
    .russia__image {
      margin-top: 40px;
    }
  }
