.cover {
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
  display: flex;
}

.cover:hover .cover__link::before {
  opacity: 0.8;
}

@media screen and(max-width: 400px) {
  .cover {
    margin-top: 66px;
  }
}
