.cover {
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
  display: flex;
}

@media screen and (max-width: 400px) {
  .cover {
    height: 266px;
  }
}

.cover:hover .cover__link::before {
  opacity: 0.8;
}


