.baikal__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    position: relative;
    height: 100%;
}

.baikal__link:hover .baikal__overlay {
    opacity: 0.8;
}